{% extends "base.html" %}

{% block main %}
<h2>Songs on the charts for the longest time</h2>
<table class="table">
    <tr><th>Weeks</th><th>Song</th></tr>
    {% for t in longest %}
    <tr><td>{{t[0]}}</td><td><a href="/artist/{{t[1]}}/{{t[2]}}">{{t[1]}} - {{t[2]}}</a></td></tr>
    {% endfor %}
</table>

<h2>Songs at number 1 for the longest time</h2>
<table class="table">
    <tr><th>Weeks</th><th>Song</th></tr>
    {% for t in longestone %}
    <tr><td>{{t[0]}}</td><td><a href="/artist/{{t[1]}}/{{t[2]}}">{{t[1]}} - {{t[2]}}</a></td></tr>
    {% endfor %}
</table>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
</script>
{% endblock %}
