{% extends "base.html" %}

{% block main %}
<h3>{{title}}</h3>
<div id="playlist-timeline"></div>
<p>Also on spotify at <a href="{{url}}">{{url}}</a></p>
{% endblock %}

{% block scripts %}
<script>
window.audioElements = {}
var timeline_config = {
    width:              '100%',
    height:             '600',
    source:             '{{endpoint}}',
    embed_id:           'playlist-timeline',               //OPTIONAL USE A DIFFERENT DIV ID FOR EMBED
    start_at_end:       false,                          //OPTIONAL START AT LATEST DATE
    hash_bookmark:      true,                           //OPTIONAL LOCATION BAR HASHES
    font:               'Bevan-PotanoSans',             //OPTIONAL FONT
    debug:              true,                           //OPTIONAL DEBUG TO CONSOLE
    lang:               'en',                           //OPTIONAL LANGUAGE
    maptype:            'watercolor',                   //OPTIONAL MAP STYLE
    css:                '/static/css/timeline.css',     //OPTIONAL PATH TO CSS
    js:                 '/static/js/timeline.js'    //OPTIONAL PATH TO JS
}
</script>
<script src="/static/js/storyjs-embed.js"></script>
{% endblock %}
